.git
.github
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov

data/raw/*.csv
data/raw/*.zip
dashboard/data/*.parquet

dbt_project/target
dbt_project/dbt_packages
dbt_project/logs
logs

.env
kaggle.json
*.md
!README.md
